{% extends "account/base.html" %} {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Karuna Wallet</title>
</head>

<body>
    {% block content %}
    <div class="row">
        <!--Handling error and info messages-->
        {% if messages %} 
            {% for message in messages %} 
                {% if message.tags == 'info'%}
                    <div class="alert alert-primary" role="alert">
                        {{message}}
                    </div>
                {% elif message.tags == 'warning'%}
                    <div class="alert alert-warning" role="alert">
                        {{message}}
                    </div>
                {% elif message.tags == 'error'%}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
            {% else %}
        {% endif %}


        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">Transaction history</span>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            {% ifequal user.username 'admin' %}
                                <th>Devotee</th>
                            {% endifequal %}
                            <th>Karuna amount</th>
                            <th>Transaction type</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for current in currents %}
                            <tr>
                                <td>
                                    {% if current.transaction_status == 'Submitted' %}
                                        <a href="/delete-claim/{{current.id}}/" onclick="return confirm('Are you sure, you want to delete the claim prabhu?')">
                                            <img src="{% static 'images/trash.svg' %}" alt="" width="20" height="20" title="Bootstrap">
                                        </a>
                                    {% endif %} 
                                    {{ current.timestamp }}
                                </td>
                                {% if user.username == 'admin' %}
                                    <td>{{current.wallet.user.username}}</td>
                                {% endif %}
                                <td>{{ current.amount }}</td>
                                <td>{{ current.transaction_type }}</td>
                                <td>{{ current.description }}</td>
                                <td>{{ current.transaction_status }}
                                {% if current.transaction_status == 'Approved' %} 
                                    {% if user.username == current.wallet.user.username %}
                                        <a class="btn btn-primary btn-sm" role="button" href="/received/{{current.id}}/" onclick="return confirm('Are you sure, you received it prabhu?')">
                                            Received!
                                        </a> 
                                    {% endif %}
                                {% endif %} 
                                {% if admin == True %} 
                                    {% if current.transaction_status == 'Submitted' %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Approve
                                                </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/approve-claim/{{current.id}}/UPI/">UPI</a>
                                                <a class="dropdown-item" href="/approve-claim/{{current.id}}/Bank/">Bank</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif%}
                                </td>
                                <td>
                                    {% if current.receipt %}
                                        <a href="{{current.receipt.url}}" target="_blank">
                                            See receipt
                                        </a> 
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-action">
                    {% if user.username == "admin" %}
                    <a class="teal-text" href="/karuna-credit">Gift someone!</a> {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br> {% endblock content %}
</body>

</html>