{% extends "account/base.html" %}
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Karuna Wallet</title>
    </head>
    <body>
        {% block content %}
        <div class="row">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">
                        Leaderboard
                    </span>

                    <table class="table striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email ID</th>
                                <th scope="col">Total rewards</th>
                                <th scope="col">Karuna balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wallet in wallets %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{wallet.user.username}}</td>
                                <td>{{wallet.user.email}}</td>
                                <td>{{wallet.karuna_tally}}</td>
                                <td>{{wallet.balance}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
        </div>
        {% endblock content %}
    </body>
</html>