{% extends "account/base.html" %}
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Karuna Wallet</title>
    </head>
    <body>
        {% block content %}
        <br/>
        <br/>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-header  text-center">
                        <b><b>My Profile</b></b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b><b>Username: </b></b>{{user.username}}</li>
                            <li class="list-group-item"><b><b>Email: </b></b>{{user.email}}</li>
                            <li class="list-group-item"><b><b>Karuna Balance: </b></b>{{wallet.balance}}</li>
                            <li class="list-group-item"><b><b>Total gifts received: </b></b>{{wallet.karuna_tally}}</li>
                            <li class="list-group-item"><b><b>Mobile number: </b></b>{{wallet.mobile_number}}</li>
                            <li class="list-group-item"><b><b>Account Number: </b></b>{{wallet.account_number}}</li>
                            <li class="list-group-item"><b><b>IFSC Code: </b></b>{{wallet.ifsc_code}}</li>
                        </ul>
                        <br>
                        <a class="btn btn-primary" href="/update-profile" role="button">Update profile</a>
                        <a class="btn btn-primary" href="/update-wallet" role="button">Update wallet</a>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
          </div>
        {% endblock content %}
    </body>
</html>